html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* SECTION-ONE STYLES */

.section-one {
    background-color: hsl(0, 0%, 0%);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    width: 900px;
    margin: 0 auto;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

.nav-bar {

}

.nav-links {
    font-size: 18px;
    color: hsl(0, 0%, 90%);
    display: flex;
    gap: 25px;
}

li {
    list-style: none;
}

/* SECTION-TWO STYLES */

.section-two {
    background-color: rgb(0, 0, 0);
}

.viewport {
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px;
}

.box-left {
    padding-right: 50px;
}

.hero-text {
    color: white;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

.viewport-text {
    font-size: 18px;
    color: white;
}

.header-btn {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 32px;
    border-radius: 10px;
    font-size: 16px;
}

.piggy {
    width: 350px;
    height: 350px;
    object-fit: cover;
}

/* SECTION-THREE STYLES */

.section-three {
    background-color: rgb(247, 247, 247);
}

.heading-one {
    margin: 0;
    padding: 40px 0px;
    font-size: 36;
    font-weight: 900;
    text-align: center;
}

.container {
    width: 900px;
    margin: 0 auto;
}

.empty-box {
    border-style: solid;
    border-color: black;
    border-radius: 15px;
    height: 150px;
    width: 150px;
}

.img-grid-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 0px 0px 60px 0px;
}

.flex-item {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.img-grid-text {
    text-align: center;
}

/* SECTION-FOUR STYLES */

.section-four {
    background-color: #e5e7eb;
}

.quote-box {
    width: 900px;
    margin: 0 auto;
    padding: 80px 80px;
}

blockquote {
    margin: 0;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
}

.author {
    margin: 0;
    text-align: right;
    font-weight: 600;
    color: #1F2937;
}

.quote {
    margin: 0;
    padding: 20px;

}

/* SECTION-FIVE STYLES */

.section-five {
    background-color: white;
}

.call-to-action-box {
    width: 900px;
    margin: 80px auto;
    padding: 40px 0px;
    background-color: #3882F6;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h3 {
    color: white;
    font-weight: 800;
    font-size: 22px;
    padding: 0;
    margin: 0;
}

.p-call {
    color: white;
    margin: 0;
    padding: 5px 0px;
}

.call-btn {
    border-style: solid;
    border-color: white;
    border-radius: px;
    border-width: 2px;
    background-color: #3882F6;
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 30px;
}